body {
    font-family: Arial, sans-serif;
  
   background-color: #eda047;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 18px 10px; /* Increased padding for larger header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px; /* Increased font size */
    min-height: 20px; /* Ensures the header is at least 100px tall */
}

.logo {
    font-size: 24px; 
 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


main {
    padding: 50px 20px;
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.contact-info, .contact-form, .contact-map {
    background: black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 32%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-info:hover, .contact-form:hover, .contact-map:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.contact-info h2, .contact-form h2, .contact-map h2 {
    margin-bottom: 20px;
    color: #007bff;
    font-size: 26px;
}

.contact-info p, .contact-form label, .contact-form textarea, .contact-form input, .contact-form button {
    font-size: 18px;
    line-height: 1.6;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.1);
}
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
